body {
  background-color: #303a52;
}

hr {
  border-color: #283148;
  width: 80%;
  opacity: 0.1;
}

.MuiTypography-h5 {
  line-height: 0.6 !important;
  width: 120%!important;
  max-width: 195px!important;
  word-break: normal;
  margin-top: 10px!important;
}

.MuiTypography-subtitle2 {
  font-size: 1em !important;
  line-height: 1 !important;
}

.MuiCardContent-root {
  padding: 13px !important;
}

.MuiTypography-subtitle1 {
  margin-top: 6px!important;
  word-break: break-all;
  height: auto;
  width: 100%;
  max-width: 180px;
  line-height: 1!important;

}

.repos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-titles {
  margin-top: 5px;
}

.content-button {
  margin-top: 5px;
}
.makeStyles-cover-3 {
  width: 100px;
  height: 100px;
}

.ui.button {
  margin: 5px;
}
.MuiCard-root {
  height: 131px;
}

.makeStyles-cover-3 {
  width: 100px !important;
}

button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 5px;
}

.button-blue {
  border: none;
  background-color: #3293e6;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin: 5px;
  width: 193px;
  height: 33px;
  padding: 1px !important;
  border-radius: 5px;
}

.e-card {
  margin-top: 10px;
  display:flex;
  width: 90%;
  max-width: 375px;
  overflow: auto;
  height: auto!important;
  justify-content: space-between;
}

.cards-box {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 15px;
  width: 193.5px;
  height: 33px;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

input::placeholder {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.box {
  position: absolute;
  top: -20px;
  display: block;
  width: 100%;
  height: 116px;
  background-color: #262f43;
  border-radius: 100px;
  z-index: 1;
}

.box-itens {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 20px;
}

.card-button {
  font-size: 8px;
}

.avatar {
  margin-left: 3%;
  margin-top: 3%;
  max-height: 64px;
}

@media (min-width: 1281px) {

.box-itens {
    margin-top: 3%;
  }
  .cards-box {
    margin-top: 10%;
  }

  .e-card {
    display: flex;
    margin-left: 25px;
  }

  .users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 15%;
    width: 1270px;
    flex-wrap: wrap;
    padding: 20px;
  }

  input {
  }

  button {
  }
}

/* squares */

.squares li {
  width: 40px;
  height: 40px;
  background-color: #262f43;
  display: block;
  position: absolute;
  bottom: -40px;
}

.details {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.cover {
  width: 130px;
}

input:-internal-autofill-selected {
  background: none;
}

.card {
  max-width: 375px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}


.date {
  word-break: break-all;
}